<h2> Add Sub Category </h2>

<%= form_for  @sub_category do |f| %>
  <%= f.label :Name %><br/>
  <%= f.text_field :name %><br/>

  <%= f.label :category_id %><br/>
  <%= f.collection_select :category_id, Category.all, :id, :name, prompt:"Select Category" %><br/> 

  <%= f.submit "submit" %>
  <% end %>
