<h2>Edit Category</h2>
<%= form_for @category do |f| %>
   <% if @category.errors.any? %>
<h4>Error : </h4>
     <ul>
       <% @category.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
  <% end %>
     </ul>
<% end %>


<%= form_for @category do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br/>

<%= f.submit "submit" %> or <%= link_to "back", category_path(@category.id) %> or <%= link_to "List", categories_path %>
<% end %>
<% end %>	